*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    
}

body{
    padding: 0 20px;
    font-family:'Montserrat', sans-serif;
}

.container{
    background-color: #808080;
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.rectangulos__container{

    display:flex;
}

.circulo{
    width: 50px;
    height:50px;
    background-color: #ffffff;
    border-radius:50%;
    cursor: pointer; 
}
.rectangulos__subcontainer{
    padding:10px;
}
.rectangulo__shape{
    background-color: #ffffff;
    PADDING:15px 30px;
}




@media screen and(max-width:600px){
    
}