*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.section-1{
    background-color: pink;
}

.section-2 > p{
    font-size: 21px;
}

/* PSEUDOCLASES*/

.section-3 p:first-child{
    color:red;
    
}

.section-3 p:nth-child(2){
    color:green;
    
}
.section-3 p:last-child{
    color:blue;
    
}

.section-3 p{
    font-size: 24px;
}

/* odd:pares  even:impar*/

p:hover{
    color:pink;
    font-weight: 800;
}

.parrafo--alternativo{
    background-color: #ee82ee ;
}

#spanElement{
    background-color: rgba(0, 0, 255, 0.5);
    
}

p:not(.parrafo--alternativo){
    border:3px solid black;
}

/* PSEUDOELEMENTOS: ES UNA PARTE DEL CONTENIDO   
       */



.section-3:before{
    content:"hola soy un before";
}

.section-3:after{
    content:"hola soy un after";
}

