*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body{
    background: linear-gradient(90deg, rgb(199, 26, 55), rgb(221, 114, 132), rgb(214, 172, 179), rgb(196, 196, 130), rgb(219, 219, 104));
}

.container{
    
        display: flex;
        justify-content: center;
        margin-top: 15px;
       
    }
      
    


.block--1{

    width:85%;
    padding:10px;
    background-color: #ffffff;
    border:1px solid #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
   
    
}



.h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#ff4500;
}
.h2{
    text-transform: uppercase;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#f70555;
}
    
.texto{
    width:50%;
    position: absolute;
    right:10px;
    top:15px;
 
 }

.text_style{
    font-size: 23px;
    color:#ff4500;
    text-align: justify;
    line-height: 1.5;
}

.block--2{
    width:85%;
    padding:15px;
    background-color: #ffffff;
    border:1px solid #ffffff;
    position: relative;
}

.subcontainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.block__borde{
    margin: 10px;
    width:85%;
    height:463px;
    padding:15px;
    background-color: #ffffff;
    border:1px solid #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.row__1, .row__2, .row__3, .row__4{
    display:flex;
    justify-content: space-around;
    width:99%;
    padding:25px;
    border:3px dashed #120fc7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    position: relative;
    
    
}

.section__1{
    width: 18%;
    position: absolute;
    left: 14px;

   
    
  
    
}

.section__2{
    width: 26%;
    position: absolute;
    right: 59px;

   
}


.section__3{
    width: 34%;
    
}