*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.gradient-Border{
    background-color: #ff0000;
    background: linear-gradient(to top, #ff0000 0%, #0000ff 100%);
    padding:20px;
}   

.gradient-Border_txt{
    background: #ffffff;
    font-size: 2rem;
    padding:20px;

}